@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans+SC:wght@100&display=swap');

$naranja: #FC913A;

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
}


.tooltip {
    position: fixed;
    z-index: 100;
    top: -1px;
    right: -10px;
    background: rgba(252, 145, 58, 0.8);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    max-width: 550px;
    border: 1px solid;
    border-color: rgba(252, 145, 58, 0.8);

    .leyenda {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .item {
            display: flex;
            align-items: center;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 2px;
            border-radius: 50px;

            .icon {
                width: 20px;
                height: 20px;
                border-radius: 50px;
            }

            .nombre {
                font-family: 'Alegreya', sans-serif;
                color: #333;
                font-size: 0.8em;
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 50px;
                padding: 10px;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }
    }

    .title {
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(252, 145, 58, 0.8);
        border-bottom: 1px solid;
    }

    .content {
        color: #999;
        font-size: 1em;
        margin-top: 20px;
        font-family: 'Alegreya', serif;
    }
}