.st0 {
    opacity: 0.72;
    fill: #eeeeee;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st1 {
    opacity: 0.74;
    fill: #FFFFFF;
}

.st2 {
    fill: #F9D423;
    opacity: 0.5;
}

.st3 {
    fill: #FFFFFF;
    stroke: #30439B;
    stroke-miterlimit: 10;
}

.st4 {
    opacity: 0.74;
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st5 {
    opacity: 0.78;
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #F9D423;
}

.st7 {
    fill: #00AE9D;
    stroke: #00AE9D;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #F57F29;
    stroke: #F57F29;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #dcdcdc;
}

.st10 {
    fill: #30439B;
    stroke: #30439B;
    stroke-miterlimit: 10;
}

.st11 {
    display: none;
    fill: #30439B;
}

.st12 {
    fill: #FFFFFF;
}

.st13 {
    display: none;
}

.st14 {
    display: inline;
    fill: #30439B;
}

.st15 {
    fill: #878787;
}

.st16 {
    display: inline;
    fill: #F5F5F5;
    stroke: #30439B;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st17 {
    display: inline;
}

.st18 {
    fill: #30439B;
}

.st19 {
    fill: #F5F5F5;
    stroke: #8E8E8E;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #CECECE;
}

.st21 {
    fill: #8E8E8E;
}

.st22 {
    fill: rgba(255, 255, 255, 0.5);
    stroke: #F57F29;
    stroke-width: 1.5;
    r: 6;
    cursor: pointer;
    stroke-miterlimit: 5;

    &:hover {
        fill: #FF4E50;
        stroke: #FF4E50;
    }
}

.st23 {
    display: inline;
    fill: #F5F5F5;
    stroke: #F57F29;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st24 {
    display: inline;
    fill: #F57F29;
}

.st25 {
    fill: #F5F5F5;
    stroke: #F57F29;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #F57F29;
}