.cabezote.titulo {
    display: flex;
    align-items: center;
    background-color: rgba(249, 212, 35, 0.95);

    h1 {
        font-size: 10vw;
        font-weight: normal;
        margin: 0;
        line-height: 0.8em;
        color: $naranja;
    }
}

.cabezote.texto {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;

    .insideImg {
        display: flex;
        width: 100%;
        align-items: center;

        @media all and (max-width: 1000px) {
            flex-wrap: wrap;
        }
    }

    .imgMapa {
        width: 100%;
        max-width: 1400px;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 600px;

        svg {
            width: 100%;
        }


        #tooltip_mapa>div {
            position: absolute;
            top: 0;
            max-width: 450px;
            width: calc(100% - 40px);
            background: rgba(255, 255, 255, 0.8);
            color: #333;
            padding: 5px;
            border: 2px solid $naranja;
            padding-top: 10px;


            p {
                margin: 0;
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                color: rgba(252, 145, 58, 0.8);

                a {
                    text-transform: lowercase;
                    font-weight: normal;
                    display: block;
                    text-decoration: none;
                    font-size: 0.6em;
                    background-color: $naranja;
                    padding: 3px;
                    font-family: 'Alegreya', serif;
                    text-align: center;
                    color: white;
                    border-radius: 10px;
                    margin-top: 10px;
                }
            }

        }
    }

    &.transparent {
        background-color: rgba(255, 255, 255, 0.9);

        .txt {
            max-width: 100%;

            p {
                margin-top: 0;
            }
        }
    }

    .column {
        column-count: 2;
        column-gap: 40px;

        @media all and (max-width: 1000px) {
            column-count: 1;
        }
    }

    .openQuote {
        position: relative;
        z-index: 1;

        &::before {
            content: '“';
            font-size: 6.5em;
            position: absolute;
            top: -70px;
            color: #999;
            opacity: 0.3;
            left: -20px;
            z-index: -1;
        }
    }

    .closeQuote {
        position: relative;
        z-index: 1;

        &::before {
            content: '”';
            font-size: 6.5em;
            position: absolute;
            bottom: -130px;
            color: #999;
            opacity: 0.3;
            right: -20px;
            z-index: -1;
        }
    }

    .txt {
        color: #333;
        max-width: 650px;
        padding: 50px;
        color: #333;

        .subtitulo {
            font-size: 1.25em;
        }

        h2 {
            font-size: 3em;
            color: $naranja;
        }

        p {
            font-family: 'Alegreya', serif;
            font-size: 1.5em;

            @media all and (max-width: 1000px) {
                font-size: 1em;
            }
        }

        .asterix {
            color: #FF4E50;
        }

        .nota {
            font-size: 1em;
            color: #555;
            font-style: italic;
        }
    }
}